<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <title>Cuidado Personal</title>
</head>
<body class="min-h-100 ">

    <div id="navegacion" class="fixed top-0 right-0 left-0 bg-blue-900 h-16">  
    </div>

    <div class="pt-10 mt-14 h-screen divide-y-4 divide-slate-400/25 ">
        <div class="max-w-lg mx-auto grid place-items-center">
            <img src="/images/cuidado.svg">
        </div>
        
        <div class="flex flex-col-2  divide-x-2 gap-2 pt-4">
            <div class="text-center min-w-48">
                <div class="px-4">
                    <h2 class="bg-pink-500 rounded-lg p-4 font-light text-white">Cuidado Personal</h2>
                </div>

                <div id="categorias-productos" class="p-2 text-justify">
                    
                    
                </div>
            </div>

            <div>
                <h2 id="formulario" class="bg-pink-500 rounded-lg p-4 mx-10 font-light text-white text-center">Productos</h2>
                <div id="listado-Productos" class="grid grid-cols-2 gap-5 p-8">
                </div>
            </div>
        </div>
        
        
        <div id="footer" class="bg-blue-950 text-white text-center left-0 right-0 bottom-0">
            
        </div>

    </div>
    <script src="index.js" type="module"></script>
    <script src="index2.js" type="module"></script>
    <script src="../components/nav.js"></script>
    <script src="../components/footer.js"></script>

</body>
</html>