<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia App</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
</head>
<body class="min-h-100 ">
    <div class="md:flex min-h-screen md:align-top">
        <aside class="md:w-2/5 lg:w-2/5 xl:w-1/5 bg-blue-900 px-5 py-10">
            <a href="/"><h1 class="uppercase text-white tracking-wide text-2xl  font-bold mt-2">FARMACIA APP</h1></a>
            <p class="mt-10 text-white">Administra tus productos</p>
            <nav class="mt-8">
                <a  
                    href="/admin/" 
                    class="px-3 py-1 text-white block rounded-lg hover:bg-blue-700 hover:text-yellow-400 "
                >Productos</a>
                <a 
                    href="/nuevo" 
                    class="px-3 py-1 text-white block rounded-lg hover:bg-blue-900 mt-2 hover:text-yellow-400 bg-blue-700"
                >Nuevo producto</a>
            </nav>

            <div id="notificacion" class="fixed top-20 right-0 left-0">

            </div>
            
        </aside> <!--sidebar-->
        <main class="md:w-3/5  xl:w-4/5 px-5 py-10 bg-gray-200">
            <h2 class="text-3xl font-light text-center">Nuevo producto</h2>

            <div class="flex flex-col mt-10 items-center">
                <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 w-10/12 md:w-8/12 lg:w-6/12">
                    <div class=" shadow overflow-hidden sm:rounded-lg border-b border-gray-200 py-4">
                        <form id="formulario" class="bg-white p-3" method="POST">
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">Nombre</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="nombre"
                                    name="nombre"
                                    type="text"
                                    placeholder="Nombre Producto"
                                />
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="precio">Precio</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="precio"
                                    name="precio"
                                    type="precio"
                                    placeholder="Precio Producto"
                                />
                            </div>
                            

                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="categoria">Categoria</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="categoria"
                                    name="categoria"
                                    type="number"
                                    placeholder="Categoria Producto"
                                />
                            </div>

                            <input
                                type="submit"
                                class="bg-blue-600 hover:bg-blue-900 w-full mt-5 p-2 text-white uppercase font-bold"
                                value="Agregar Producto"
                            />
                        </form>
                    </div>
                    <div class="shadow overflow-hidden sm:rounded-lg border-b border-gray-200 bg-white">
                        <h2 class="text-3xl font-light text-center">Categorias</h2>
                        <div class="-center">
                            <p class="bg-green-500 p-1 text-white m-5 rounded-lg">#1 Salud y Medicamentos</p>
                            <p class="bg-purple-500 p-1 text-white m-5 rounded-lg">#2 Belleza</p>
                            <p class="bg-pink-500 p-1 text-white m-5 rounded-lg">#3 Cuidado Personal</p>
                            <p class="bg-red-500 p-1 text-white m-5 rounded-lg">#4 Bebe</p>
                            <p class="bg-orange-500 p-1 text-white m-5 rounded-lg">#5 Alimentos y Bebidas</p>
                            <p class="bg-yellow-500 p-1 text-white m-5 rounded-lg">#6 hogar, Mascotas y</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script type="module" src="../components/notificaciones.js"></script>
    <script type="module" src="index.js"></script>

</body>
</html>