<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <title>Farmacia</title>
</head>
<body class="min-h-100 ">
    <div id="navegacion" class="fixed top-0 right-0 left-0 bg-blue-900 h-16">
    </div>

    <div class="pt-10 mt-14 h-screen divide-y-4 divide-slate-400/25">

        <div class="max-w-lg mx-auto grid place-items-center">
            <img  src="/images/carrito.svg">
        </div>

        <div>
            <h1 class="bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% text-white text-center py-10 m-10 text-2xl font-light rounded-lg ">Nuestros Productos</h1>
        </div>
        
        <div id="listado-Productos" class="grid grid-cols-3 gap-5 p-8">
        </div>
        
        <div id="footer" class="bg-blue-950 text-white text-center left-0 right-0 bottom-0 ">
        </div>

</div>

    <script src="../components/footer.js"></script>
    <script src="../components/nav.js"></script>
    <script src="index.js" type="module"></script>
    <script src="index2.js" type="module"></script>

</body>
</html>